body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
  background: #f7f9fb;
}

header {
  text-align: center;
  padding: 1rem;
  background: #2b8cbe;
  color: white;
}

#map, #chart {
  margin: 1rem auto;
  width: 90%;         /* shrink or expand with screen */
  max-width: 900px;   /* limit it from getting too big */
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

svg {
  width: 100%;        /* fill container width */
  height: auto;       /* maintain aspect ratio */
  display: block;
}

#year-slider {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
}

main {
  background: white;
  color: var(--color-neutral-20);
  border-radius: 1rem;
  padding: 0.1rem 2rem;
}

:root {
  --color-neutral-95: hsl(220 10% 95%);
  --color-neutral-90: hsl(220 10% 90%);
  --color-neutral-80: hsl(220 10% 80%);
  --color-neutral-70: hsl(220 10% 70%);
  --color-neutral-60: hsl(220 10% 60%);
  --color-neutral-50: hsl(220 10% 50%);
  --color-neutral-40: hsl(220 10% 40%);
  --color-neutral-30: hsl(220 10% 30%);
  --color-neutral-20: hsl(220 10% 20%);
  --color-neutral-10: hsl(220 10% 10%);
}

html {
  font: 100%/1.5 system-ui;
  counter-reset: figure;
  background: var(--color-neutral-95);
  max-width: min(75vw, 80em);
  margin: 0 auto;
}
